{% extends "template.html" %}

{% block page_title %}Events{% endblock %}

{% block body %}
  <div class="page-content">
    <h1>Events</h1>
    {{ map.html }}
    <p>Table goes here.</p>
  </div>
{% endblock %}

{% block javascript %}
{{ map.js }}
{% endblock %}
