 @import url('https://fonts.googleapis.com/css?family=Lato');
 @import url('https://fonts.googleapis.com/css?family=Oswald');

html {
  position: relative;
  min-height: 100%;
  font-size: 1em;

}

body {
  font-family: 'Lato', sans-serif;
  background-color: #e4003b;
  color:#fff;
  margin-bottom: 90px;
}

.container {
  max-width: 1000px;
  width:95%;
  margin: 0 auto 0;
}

h1 {
  text-align: center;
}

.carousel h1 {
  color:#fff
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color:#e4003b;
}

.page-title {
  text-align: center;
  padding-top:1em;
  padding-bottom:1em;
}

.page-content {
  background-color: #fff;
  padding:1em;
  margin-top:1em;
  margin-bottom:1em;
  color:#000;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding:1em;
  height: 80px; /* Set the fixed height of the footer here */
  background-color: #454545;
}
