{% extends "template.html" %}

{% block page_title %}Administrator Login{% endblock %}

{% block body %}
  <div class="page-content">
    <h1>Administrator Login</h1>

    <form method="post" action="{{ url_for('admin.login') }}" accept-charset="UTF-8" role="form">
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">{{ form.username.label }}: </label>
        <div class="col-10">
          {{ form.username }}
        </div>

        <label for="example-text-input" class="col-2 col-form-label">{{ form.password.label }}: </label>
        <div class="col-10">
            {{ form.password }}
        </div>

        <button class="btn btn-success" type="submit">
          <i class="glyphicon glyphicon-log-in"></i> Log In
        </button>
      </div>
    </form>
  </div>
{% endblock %}
