{% extends "template.html" %}

{% block page_title %}Branches{% endblock %}

{% block body %}

  <div class="page-content">
    <h1>Branches</h1>

    <p>The Ceredigion Labour party is made up of two Branches so that we can
      engage more easily with members of our community. Both Branches have members
      who are elected representatives of their communities.</p>

    <p>The two Branches come together every month as a Constituency to discuss matters
      concerning Ceredigion as a whole and how best to fight for improvements to our area.
      For more information on these meetings, please contact your local Branch Secretary.</p>

    <h2>South Ceredigion Labour Party Branch</h2>

    <p>The South branch is in the process of reforming and we have started to
      arrange monthly social meetings in Cardigan Town.</p>

    <h2>Aberystwyth and North Ceredigion Labour Party Branch</h2>

    <p>The Aberystwyth and North Ceredigion Branch serves the north of Ceredigion
      and meets regularly for campaigning events. Please contact Alex Mangold (Branch Secretary)
      on ceredigionlabour.northbranch@gmail.com if you would like to find out more about the
       Aberystwyth and North Ceredigion Branch.</p>
  </div>

{% endblock %}
