{% extends "template.html" %}

{% block page_title %}Home{% endblock %}

{% block body %}

<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption d-none d-md-block">
        <h1>For the many, not the few</h1>
      </div>
      <img class="d-block w-100" src="https://ceredigionlabour.files.wordpress.com/2017/04/cardigan1.jpg?w=1024" alt="First slide">
    </div>
  </div>
</div>
  <div class="page-content">
    <div class="row">
      <div class="col-sm-8">

        <blockquote class="blockquote">
          <p class="mb-0">"At the heart of all we do will be our determination to fight for jobs
            and grow the Welsh economy. Ours is an ambitious, positive vision of the
            nation we can become. In everything we do we will stand up for Wales and
            lead our country forward with ambition."</p>
          <footer class="blockquote-footer">Carwyn Jones AM</footer>
        </blockquote>

        <p>Labour has only been in government for four short periods of the 20th
          century. However its achievements have revolutionised the lives of the
          British people. The values Labour stands for today are those which have
          guided it throughout its existence.</p>

        <ul>
          <li>social justice</li>
          <li>strong community and strong values</li>
          <li>reward for hard work</li>
          <li>decency</li>
          <li>rights matched by responsibilities</li>
        </ul>

        <p>The Labour Party in Ceredigion has elected representatives at every level
           of Government, from Assembly Members and Members of the European Parliament
           to our hard-working County and Community Councillors. The Ceredigion Labour Party
           has worked passionately to improve the lives of those in our communities and will
           continue to do so, even in the face of the Coalition’s disastrous economic policies.</p>
      </div>
      <div class="col-sm-4">
        <h3>LATEST NEWS</h3>
      </div>
    </div>
  </div>

{% endblock %}
