<html>

<head>
  <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/global.css')}}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/favicon.ico')}}"/>

  <title>{% block page_title %}{% endblock %} : Ceredigion Labour Party</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index')}}">Ceredigion CLP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('events.index')}}">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('minutes.index')}}">Minutes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('branches')}}">Branches</a>
      </li>
    </ul>
  </div>
</nav>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>

  <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <p>Promoted by Rachel Seabrook, Secretary, Ceredigion CLP, on behalf
              of Ceredigion CLP, at Smelting Cottage, Devil’s Bridge, Ceredigion,
               SY23 4QY</p>
          </div>
          <div class="col-sm-4">
            <p>Instagram and Facebook stuff here</p>
          </div>
        </div>
      </div>
    </footer>
</body>


<!-- Javascript Imports -->
<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

{% block javascript %}


{% endblock %}

</html>
